@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

body {
    font-size: 16px;
    line-height: 25px;
    color: #444444;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
    color: #221e1e;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.form-control:focus {
    outline: 0 !important;
    box-shadow: none !important;
}

.btn:focus {
    outline: 0 !important;
    box-shadow: none !important;
}

.btn-medium {
    font-weight: 500 !important;
}


header {
    background: #252626;
    padding: 10px 0px;
}


.menu {
    background: #252626 !important;
    margin: 0px;
    padding: 0px;
}

    .menu .navbar-brand {
        font-weight: bold;
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
    }

    .menu a {
        padding: 8px 17px !important;
        font-weight: 500;
        color: white !important;
        text-transform: uppercase;
        font-size: 15px;
        margin: 0px 10px;
    }

        .menu a:hover {
            color: #eeeeee !important;
        }

.current {
    background: #f44336;
}
/**/
.title2 {
    text-align: center;
    padding-bottom: 30px;
}

    .title2 h2 {
        font-size: 42px;
        font-weight: bold;
        text-transform: uppercase;
        position: relative;
        color: #222222;
    }

        .title2 h2::before, .title2 h2::after {
            content: '';
            width: 50px;
            height: 2px;
            background: #f44336;
            display: inline-block;
        }

        .title2 h2::before {
            margin: 0 15px 10px 0;
        }

        .title2 h2::after {
            margin: 0 0 10px 15px;
        }

    .title2 p {
        margin: 15px 0 0 0;
    }


form {
    border: 1px solid #d7d7d7;
}

/**/

.banner {
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    position: relative;
    width: 100% !important;
    background: url(../images/bg.jpg);
}

.header-sub {
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    position: relative;
}

.banner-content {
    background: rgba(0,0,0,.62);
    padding: 220px 0px;
    text-align: center;
}

.banner-content-sub {
    padding: 50px 0px;
}

.banner-content h1 {
    font-size: 54px;
    color: #fff;
    margin-bottom: 0;
    margin-top: 0px;
    font-weight: bold;
}


.banner-content h2 {
    font-size: 30px;
    color: #fff;
    margin-top: 29px;
    margin-bottom: 37px;
    font-weight: 400;
}

.button-style {
    background: #f44336;
    border-radius: 0;
    font-size: 17px;
    color: #fff;
    padding: 10px 21px;
    font-family: 'Poppins', sans-serif;
}

    .button-style:hover {
        color: white;
        opacity: 0.9;
    }

/**/
.story-div {
    background: #232732;
    color: #fff;
}

.bg-images {
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    padding-top: 450px;
}

.story {
    padding: 80px;
}

    .story h2 {
        font-size: 36px;
        color: #fff;
        margin-bottom: 26px;
        display: inline-block;
        background: rgba(70,73,84,.7803921568627451);
        padding: 11px 32px;
    }

    .story p {
        color: #fff;
    }
/**/
.join {
    background: #146db4;
    padding: 15px 0;
}

    .join h3 {
        color: #fff;
    }

    .join p {
        color: #fff;
        margin-bottom: 0;
    }

.join-btn {
    text-align: right;
    margin-top: 13px;
}

    .join-btn a {
        font-size: 17px;
        background: #fff !important;
        border: 1px solid #fff;
        border-radius: 0;
        padding: 10px 20px;
    }

        .join-btn a:hover {
            opacity: 0.9;
        }


/**/
footer {
    background: #202122;
    padding: 60px 0 40px 0;
}

    footer h4 {
        color: #f0f0f0;
        font-size: 16px;
    }

.social-footer a {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 100%;
    color: #222;
    text-align: center;
    line-height: 30px;
}

    .social-footer a:hover {
        background: #f44336;
        color: #fff;
    }



.links-footer a:hover {
    color: #b2b6bb;
}

footer ul li {
    margin-bottom: 4px;
}

footer p {
    font-size: 14px;
    color: #eee;
}

footer a {
    color: #eee;
    text-decoration: none;
}

    footer a:hover {
        text-decoration: none;
        color: #dbdbdb;
    }

footer ul {
    font-size: 14px;
    color: #eee;
    list-style: none;
    padding-left: 0;
}

.f_details {
    position: relative;
}

    .f_details li {
        padding-left: 25px;
        position: relative;
        margin-bottom: 20px;
    }

    .f_details i {
        position: absolute;
        left: 0;
        top: 0;
        font-size: 20px !important;
    }

    .f_details .small-icon {
        font-size: 17px !important;
        top: 3px !important;
    }

.f-border {
    border: 1px solid #f44336;
    width: 55px;
    margin-bottom: 25px;
}

.copyrights {
    background: #151516;
    padding: 10px 0;
}

@media(max-width:991px) {
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.98)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
    }

    .navbar-collapse {
        padding-top: 20px;
    }
}

@media(max-width:767px) {
    .story {
        padding: 24px 0px;
    }

    footer h4 {
        margin-top: 30px;
    }

    footer {
        padding-top: 30px;
    }

    .banner-content h1 {
        font-size: 43px;
    }

    .title2 h2::before, .title2 h2::after {
        display: none;
    }

    .banner-content {
        padding: 70px 0px;
    }

    .title2 h2 {
        font-size: 30px;
    }
}